<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
 <p>I am a Python web developer and I go to hackathons for fun. In my spare time, which used to be a lot more than now. 
     I love to write. I am terrible at it. I am also bad at telling jokes, talking my thoughts out loud, and playing with cats.
     Get to know me! K Thx Bye.
 </p>   
</body>
</html>